body {
	background-color 	: #ffffff;
	width					: 80%;
	margin					: auto;
}

label {
	text-align				: right;
	width					: 5em;
	padding-right			: 0.5em;
	float						: left;
}

p.status{
	color						: green;
}

p.error{
	color						: red;
}