[project]
	description = Automatically exported from code.google.com/p/openedunet
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ovidiugabriel
[access "refs/for/refs/*"]
	read = group user/ovidiugabriel
	push = group user/ovidiugabriel
	label-Code-Review = -2..+2 group user/ovidiugabriel
	label-Verified = -1..+1 group user/ovidiugabriel
	rebase = group user/ovidiugabriel
	removeReviewer = group user/ovidiugabriel
	submit = group user/ovidiugabriel
[access "refs/heads/*"]
	read = group user/ovidiugabriel
	create = group user/ovidiugabriel
	push = +force group user/ovidiugabriel
	pushMerge = group user/ovidiugabriel
[access "refs/tags/*"]
	push = +force group user/ovidiugabriel
	pushTag = group user/ovidiugabriel
	pushSignedTag = group user/ovidiugabriel
